html, body{
 width: 100%;
 background-color: #81adc6; 
 font-family: Verdana, Geneva, sans-serif;
}
.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: inline-flex;

}
.navigation li {
	display: inline;
	float: left; 

}
.navigation li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 25px 14px;
}

li a:hover {
	background-color: #9b9065;
	font-weight: bold;
}
