html, body{
 width: 100%;
 background-color: #132d56; 
 font-family: Verdana, Geneva, sans-serif;
}
#header{
  color: white;
  text-align: center;
  padding-top: 10px;
}
#p1{
  color: white;
  text-align: center;
  padding-right: 10px;
}
#p2{
  color: white;
  text-align: center;
  padding-left: 10px;
}
#links{
  color: white;
  text-align: center;
  padding-bottom: 10px;
}
